%header#header
  .wrapper
    %a.title{:href => '#!/'}
      more than
      %em web developer

    %a.go-to-menu.icon{:href => '#', :title => 'menu'} &#9776;

    %nav#main-menu
      %ul
        %li.menu-start
          %a{:href => '#!/'} start
        %li.menu-about
          %a{:href => '#!/about'} about
        %li.menu-contact
          %a{:href => '#!/contact'} contact

// main sections
%section#main-section
  .wrapper
    .flexslider
      %ul.slides
        %li#index-page.page
          = partial 'partials/index'
        %li#about-page.page
          = partial 'partials/about'
        %li#contact-page.page
          = partial 'partials/contact'

%section#bottom-section
  .wrapper
    = partial 'partials/go_top'
    = partial 'partials/share'
    = partial 'partials/go_top'
    = partial 'partials/feedback'
    = partial 'partials/go_top'

    #footer
      :markdown
        copyright &copy; Krzysztof Urbas [@krzysu](https://twitter.com/krzysu) 2013 | Entypo pictograms by Daniel Bruce [www.entypo.com](http://www.entypo.com)  



// dynamically created
%ul.hidden
  %li#about-front-end-page.page
    = partial 'partials/about_front_end'
  %li#about-startups-page.page
    = partial 'partials/about_startups'
  %li#about-open-source-page.page
    = partial 'partials/about_open_source'
  %li#about-job-offer-page.page
    = partial 'partials/about_job_offer'
  %li#about-music-page.page
    = partial 'partials/about_music'




