%header#header
  .wrapper
    %a.title{:href => '#!/'}
      more than
      %em web developer

    %a.go-to-menu{:href => '#', :title => 'menu'} &#9776;

    %nav#main-menu
      %ul
        %li.menu-item.start
          %a{:href => '#!/'} start
        %li.menu-item.about
          %a{:href => '#!/about'} about
        %li.menu-item.contact
          %a{:href => '#!/contact'} contact
        %li.menu-item.blog
          %a{:href => 'http://blog.myviews.pl/', :target => '_blank'} blog

// main sections
%section#main-section
  .wrapper
    .flexslider
      %ul.slides
        %li#index-page.page
          = partial 'partials/index'
        %li#about-page.page
          = partial 'partials/about'
        %li#contact-page.page
          = partial 'partials/contact'

%section.bottom-section
  .wrapper
    = partial 'partials/share'
    = partial 'partials/go_top'

%section.bottom-section
  .wrapper
    = partial 'partials/feedback'
    = partial 'partials/go_top'

%section.bottom-section
  .wrapper
    #footer
      :markdown
        [&nbsp;](http://nie-spamuj.eu/email.php)
        copyright &copy; 2015 Krzysztof Urbas [@krzysu](https://twitter.com/krzysu) &#124; [icons license](http://myviews.pl/fonts/LICENSE.txt) &#124;

      updated on
      = Time.now.strftime("%d.%m.%Y")

// dynamically created
%ul.hidden
  %li#about-front-end-page.page
    = partial 'partials/about_front_end'
  %li#about-game-dev-page.page
    = partial 'partials/about_game_dev'
  %li#about-startups-page.page
    = partial 'partials/about_startups'
  %li#about-open-source-page.page
    = partial 'partials/about_open_source'
  %li#about-job-offer-page.page
    = partial 'partials/about_job_offer'
  %li#about-music-page.page
    = partial 'partials/about_music'




